<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secret Submitted</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        .custom-container {
            max-width: 1000px;
            margin: auto;
            text-align: center;
        }

        .alert-custom {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/header::header"></div>
<div class="custom-container">
    <h2 class="mt-5">Secret Successfully Submitted</h2>
    <div class="alert alert-success alert-custom" role="alert">
        Your secret has been saved! You can view it or share it using the link below.
    </div>
    <p>Your unique link:</p>
    <div class="input-group mb-3">
        <input class="form-control" id="uniqueLink" readonly th:value="${'/view-secret?link=' + uniqueLink}"/>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" onclick="copyLink()" type="button">Copy the Link</button>
        </div>
    </div>
    <script>
        function copyLink() {
            var copyText = document.getElementById("uniqueLink");
            var fullLink = window.location.origin + copyText.value;
            navigator.clipboard.writeText(fullLink).then(function () {
                alert("Copied to clipboard: " + fullLink);
            }, function (err) {
                console.error('Could not copy text: ', err);
            });
        }
    </script>
    <div class="text-center mt-3">
        <a class="btn btn-primary" th:href="@{/}">Back to Main</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>