<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submit Secret</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        .custom-container {
            max-width: 1000px;
            margin: auto;
        }

        .form-container {
            max-width: 600px;
            margin: auto;
        }
    </style>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="custom-container mt-4">
    <div class="form-container">
        <h2>Submit Your Secret</h2>
        <form method="post" th:action="@{/submitSecret}">
            <div class="mb-3">
                <label class="form-label" for="secretMessage">Message</label>
                <textarea class="form-control" id="secretMessage" name="message" required rows="3"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>