<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Secret</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        .custom-container {
            max-width: 1000px;
            margin: auto;
        }

        .secret-container {
            max-width: 800px;
            padding: 20px;
            background-color: #f4f4f4;
            border-radius: 10px;
            margin: 20px auto auto;
        }
    </style>
</head>
<body>
<div th:insert="fragments/header::header"></div>
<div class="custom-container mt-4">
    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <div class="secret-container" th:unless="${errorMessage}">
        <h2>Secret Message</h2>
        <p th:text="${secretMessage}">[Secret Message]</p>
    </div>
    <div class="text-center mt-3">
        <a class="btn btn-primary" th:href="@{/}">Back to Main</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>